[core]
strictLevel: 0

[global_resource_gold]
iconImage: ROOT:images\gold.png
displayName: Gold
hidden:false
priority: 1
displayColor: #DE7500

displayNameShort: GLD
displayWhenZero: true
iconImageUseInText: true

[global_resource_wood]
iconImage: ROOT:images\wood.png
displayName: Wood
hidden:false
priority: 1
displayColor: #d15700

displayNameShort: WOD
displayWhenZero: true
iconImageUseInText: true

[global_resource_rice]
iconImage: ROOT:images\rice.png
displayName: Rice
hidden:false
priority: 1
displayColor: #ffe393

displayNameShort: RIC
displayWhenZero: true
iconImageUseInText: true


