[core]
copyFrom:ROOT:buildings.template, ROOT:templates\effects.template
class:CustomUnitMetadata
tags: camp
name:
displayText:
displayDescription:
isPickableStartingUnit:true
numBitsOnDeath: 10
selfRegenRate: 0
price: gold=100, wood=100
maxHp: 8000
mass: 30000
displayFootprint: -2,-2,1,1
footprint: -2,-2,1,1
constructionFootprint: -3,-3,2,2
buildingToFootprintOffsetX: 0
buildingToFootprintOffsetY: 0
techLevel: 1
buildSpeed: 5s
radius: 40
displayRadius: 40
isBio: false
isBuilding: true

# generation_resources: gold=1, wood=1, rice=1
# generation_delay: 40

effectOnDeath: yeeted02, yeeted03*2

exit_x:0
exit_y:-10

[graphics]
total_frames: 6
icon_build: image.png
image: image.png
icon_build:ROOT:images\iconFactionCamp.png
image_back: image.png
image_wreak: baseRoof1.png
image_shadow: shadow.png
animation_idle_start: 0
animation_idle_end: 5
animation_idle_speed: 5
animation_idle_pingPong: true
shadowOffsetX: 0
shadowOffsetY: 0
drawLayer: bottom

[attack]
canAttack: false
canAttackFlyingUnits: false
canAttackLandUnits:   false
canAttackUnderwaterUnits: false

[movement]
movementType: NONE
moveSpeed: 0

[ai]
buildPriority: 2

[hiddenAction_resource]
autoTriggerOnEvent: created
[hiddenAction_aiExtraIncome]
autoTrigger: if self.isControlledByAI()
addResources: wood=+8, gold=+8, rice=+8

[hiddenAction_onDestroyed]
autoTriggerOnEvent: destroyed
spawnEffects: CUSTOM: destroyedCastle

[decal_circle]
@copyFrom_skipThisSection: true
[decal_castleImp]
layer: shadow
order: 0
imageStack: ROOT:images\tCircleCastle.png*1
imageScale: 0.3
teamColors: true
onlyWhenSelectedByAnyPlayer: true
#[decal_castleImp]
#@define TimeAliveMultipler: 200
#@define scaleVariance: 0.01
#layer:shadow
#imageStack: ROOT:images\tcircle01.png*1
#imageScale: 0.3+cos(self.timeAlive()*${TimeAliveMultipler})*${scaleVariance}
#teamColors: true
#onlyWhenSelectedByAnyPlayer: true
[decal_FLAGS020fC78KVK]
layer:beforeUi
order: 3
imageStack:clanflag.png
yOffsetRelative: 30
onlyWhenSelectedByAnyPlayer: true
[decal_roofBlock2]
image: baseRoof2.png
layer: beforeUI
order: 2
alpha: 0.2
imageScale: 1
teamColors: true
isVisible: true
[decal_roofBlock3]
image: baseRoof1.png
layer: beforeUI
order: 2
imageScale: 1
teamColors: true
isVisible: if self.numberOfUnitsInTeam(withTag='infantry', lessThan=1, withinRange=60)

[canBuild_0]
name: setRally
pos: 0
[canBuild_1]
name: peasant_ashigaru
[canBuild_2]
name: katana_ashigaru
[canBuild_3]
name: bow_ashigaru
[canBuild_4]
name: yari_ashigaru
[canBuild_5]
name: sashimono_ashigaru

### Extra AI Controlled units to increase singeleplayer difficulty ###
[canBuild_6]
name: katana_ashigaru_exp
isVisible: if self.isControlledByAI()
[canBuild_7]
name: bow_ashigaru_exp
isVisible: if self.isControlledByAI()
[canBuild_8]
name: yari_ashigaru_exp
isVisible: if self.isControlledByAI()

# [canBuild_9]
# name: peasant_ashigaru_harvester
# isVisible: if self.isControlledByAI()

# [action_produceAiPeasantsHarvester]
# isLocked: if numberOfUnitsInTeam(withTag="peasant_ashigaru_harvester") >= 10
# resetCustomTimer: true ###
# autoTrigger: if self.numberOfUnitsInTeam(withTag="peasant_ashigaru_harvester", lessThan=10) and self.self.isControlledByAI() and self.customTimer() >= 3 and self.resource(type="gold") >= 10 and self.resource(type="wood") >= 10 and self.resource(type="rice") >= 10 and numberOfUnitsInTeam(withTag="peasant") <= 10
# guiBuildUnit: peasant_ashigaru_harvester
# price: gold=10, rice=10, wood=10
# addActionCooldownTime: 3s
# buildSpeed: 3s
# isVisible: true
# alsoTriggerAction: producePeasantAiBuilder ###
# alsoQueueAction: producePeasantAiHarvester
# onlyOneUnitAtATime: true
# allowMultipleInQueue: false
# [action_producePeasantAiHarvester]
# isLocked: if numberOfUnitsInTeam(withTag="peasant_ashigaru_harvester") >= 10
# buildSpeed: 3s
# onlyOneUnitAtATime: true
# allowMultipleInQueue: false
# produceUnits: peasant_ashigaru_harvester



[action_produceAiPeasantsBuilder]
isLocked: if numberOfUnitsInTeam(withTag="peasant_ashigaru_rice") >= 40
# resetCustomTimer: true ###
autoTrigger: if self.numberOfUnitsInTeam(withTag="peasant_ashigaru_rice", lessThan=10) and self.self.isControlledByAI() and self.customTimer() >= 3 and self.resource(type="gold") >= 10 and self.resource(type="wood") >= 10 and self.resource(type="rice") >= 10 and numberOfUnitsInTeam(withTag="peasant") <= 10
guiBuildUnit: peasant_ashigaru
price: gold=10, rice=10, wood=10
addActionCooldownTime: 3s
buildSpeed: 3s
isVisible: true
# alsoTriggerAction: producePeasantAiBuilder ###
alsoQueueAction: producePeasantAiBuilder
onlyOneUnitAtATime: true
allowMultipleInQueue: false
[action_producePeasantAiBuilder]
isLocked: if numberOfUnitsInTeam(withTag="peasant_ashigaru_rice") >= 40
buildSpeed: 3s
onlyOneUnitAtATime: true
allowMultipleInQueue: false
produceUnits: peasant_ashigaru



#[hiddenAction_yearCalendar] ## will be used later in game ##
#autoTriggerOnEvent: created
#isActive:true
#addResources:year=1
### Victory / Defeated Sounds ###
#[hiddenAction_baseOwnDefeated]
#autoTriggerOnEvent: destroyed
#playSoundToPlayer: ROOT:audio\defeat01.ogg: 1
#debugMessage: [You have been destroyed!]
#[hiddenAction_baseOwnVictory]
#autoTrigger: if self.numberOfUnitsInEnemyTeam(withTag="camp") < 1
#playSoundToPlayer: ROOT:audio\victory01.ogg: 1
#debugMessage: [You are victorious!]



[effect_destroyedCastle]
image: ROOT:images\destroyed2.png
priority: high
drawUnderUnits: false
life: 550
alpha: 1
scaleFrom: 0.5
scaleTo: 0.3
fadeOut: true
hSpeed: 0.2
attachedToUnit: true
createWhenZoomedOut: true
spawnChance: 100



