### MELEE DAMAGE NUMBERS AND ACTION GOES HERE ###
[hiddenAction_attack_attacker]
resetCustomTimer: true
#requireConditional: if self.isControlledByAI()
autoTrigger: if self.hasTakenDamage(withinSeconds=5) and self.isControlledByAI()
addWaypoint_type: attackMove
addWaypoint_target_nearestUnit_team: enemy	
addWaypoint_target_nearestUnit_tagged: infantry, archertower, tower, siegeweapons, siege, siegeweapon
addWaypoint_target_nearestUnit_maxRange: 300
addWaypoint_target_mapMustBeReachable: true
debugMessage: "MELEE Damaged"

[turret_1]
shoot_sound: ROOT:audio\blade1.ogg
shoot_sound_vol: 0.08

[projectile_1]
tags: melee
explodeEffect: CUSTOM:effect1, CUSTOM:effect2

[effect_effect1]
image: projectile.png
attachedToUnit: false
drawUnderUnits: false
life: 70
spawnChance: 1
color: #ffffff
alpha: 1
physics: false
fadeOut: true
scaleFrom: 1
scaleTo: 0.2
priority: low
xSpeedRelative: 0.1
alwayStartDirAtZero: true

[effect_effect2]
image: ROOT:images\png.png