### MELEE DAMAGE NUMBERS AND ACTION GOES HERE ###

[hiddenAction_attack_attacker]
resetCustomTimer: true
autoTrigger: if self.hasTakenDamage(laterThanSeconds=2) and self.isControlledByAI()
requireConditional: if self.isControlledByAI()
addWaypoint_type: attackMove
addWaypoint_target_nearestUnit_team: enemy	
addWaypoint_target_nearestUnit_tagged: infantry, archertower, tower, siegeweapons, siege, siegeweapon, heavy, bow, melee, cavalry, heavy, heavyinfantry
addWaypoint_target_nearestUnit_maxRange: 120
addWaypoint_target_mapMustBeReachable: true

[turret_1]
shoot_sound: ROOT:audio\blade1.ogg, ROOT:audio\blade2.ogg, ROOT:audio\blade3.ogg, ROOT:audio\blade4.ogg
shoot_sound_vol: 0.08

[projectile_1]
tags: melee
explodeEffect: CUSTOM:effect1, CUSTOM:effect2

[effect_effect1]
image: projectile.png
attachedToUnit: false
drawUnderUnits: false
life: 70
spawnChance: 1
color: #ffffff
alpha: 1
fadeOut: true
scaleFrom: 1
scaleTo: 1
priority: low
xSpeedRelative: 0.1
alwayStartDirAtZero: true
physics: false

[effect_effect2]
image: ROOT:images\png.png