### RANGED DAMAGE NUMBERS AND ACTION GOES HERE ###

#[hiddenAction_attack_attacker]
#resetCustomTimer: true
#autoTrigger: if self.hasTakenDamage(laterThanSeconds=2) and self.isControlledByAI()
#requireConditional: if self.isControlledByAI()
#addWaypoint_type: attackMove
#addWaypoint_target_nearestUnit_team: enemy	
#addWaypoint_target_nearestUnit_tagged: infantry, archertower, tower, siegeweapons, siege, siegeweapon, heavy, bow, melee, cavalry, heavy, heavyinfantry
#addWaypoint_target_nearestUnit_maxRange: 120
#addWaypoint_target_mapMustBeReachable: true

#[hiddenAction_findtowerTower]
#resetCustomTimer: true
#autoTriggerOnEvent: created
#autoTrigger: if self.customTimer(laterThanSeconds=20) and self.isControlledByAI()
#requireConditional: if self.isControlledByAI()
#addWaypoint_type: loadInto
#addWaypoint_target_nearestUnit_team: own
#addWaypoint_target_nearestUnit_tagged: archertower_empty
#addWaypoint_target_nearestUnit_maxRange: 1500
#addWaypoint_target_mapMustBeReachable: true
#addWaypoint_maxTime: 30s

### TRANSPORT ###
#[hiddenAction_deattached]
#autoTriggerOnEvent: leftTransport
#requireConditional: if eventSource.readUnitMemory("rally_point", type="unit") != null
#clearAllWaypoints: true
#addWaypoint_type: move
#addWaypoint_target_fromReference: eventSource.readUnitMemory("rally_point", type="unit")
#[hiddenAction_enteredTransport]
#autoTrigger: if self.hasParent(withTag="tower")
#setUnitStats: maxAttackRange=250
#[hiddenAction_leftTransport]
#autoTriggerOnEvent: leftTransport
#resetUnitStats: true
### ACTION END ###

[turret_1]
shoot_sound: ROOT:audio\bow1.ogg
shoot_sound_vol: 0.08

[projectile_1]
tags: ranged

[effect_effect1]
image: projectile.png
attachedToUnit: false
drawUnderUnits: false
life: 70
spawnChance: 1
color: #ffffff
alpha: 1
fadeOut: true
scaleFrom: 1
scaleTo: 1
priority: low
xSpeedRelative: 0.1
alwayStartDirAtZero: true
physics: false