[core]
class: CustomUnitMetadata
tags: siege, siegeweapon, siegeweapons

soundOnNewSelection: ROOT:audio\click1.wav

[graphics]
teamColoringMode: pureGreen
teamColorsOnTurret: true
icon_build: icon.png
icon_zoomed_out: icon.png

[action_infantry_icon]
pos: 0.1
displayType: infoOnlyNoBox
iconImage: icon.png
iconExtraImage: icon.png
isVisible: true
isActive: false
